#ignore thumbnails created by windows
Thumbs.db
Makefile

#Prerequisites
*.d

#Ignore Compiled Object Files 
# Compiled Static libraries
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.lib

#Qt
/.qmake.cache
/.qmake.stach
*.obj
*.pro.user
*.pro.user.*
*.qsb.user
*.qsb.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
moc_*.[o]

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

Doc/Html/*
Doc/
.vscode
